.main-products__list .product-card {
    border: 1px solid var(--border-color);
    padding: 5px;
}



@media(min-width:560px) {
    .main-products__list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
        grid-gap:10px;
        
    }
}

@media(min-width:600px) {
    .main-produtcts__list{
        grid-template-columns: 1fr 1fr 1fr ;
    }
}


@media(min-width:800px) {
    .main-produtcts__list{
        grid-template-columns: 1fr 1fr 1fr 1fr ;
    }
}