





 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* обнуление стилей */

:root {
    font-size: 18px;
    font-family: ;
    --text-color: #505155;
    --border-color: #ccc;
}
/* коренным элементам */

img {
    display: block;
    width: 100%;
}



h1 {
    color: var(--text-color);
}

selector {

}

